{% extends "layout.html" %} {% block title %} Timer {% endblock %} {% block main
%}

<div class="container">
  
    <div class="col-md-10">
      <label for="amountMinutes" class="form-label loco title-timer"
        >Minutes</label
      >
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input
          type="range"
          class="form-range slider"
          min="0"
          max="50"
          step="1"
          id="amountMinutes"
        />
      </div>
      <div
        class="d-flex flex-columns justify-content-center align-items-center gap-10"
        id="timer-box"
      >
        <div id="timer">00:00</div>
        <div id="emoji"></div>
      </div>

      <!-- Buttons -->
      <div
        class="d-flex flex-row justify-content-center align-items-center loco"
      >
        <button type="button" class="btn btn-success">Start</button>
        <button type="button" class="btn btn-warning">Pause</button>
        <button type="button" class="btn btn-stop">Stop</button>
      </div>

      <hr />



      <!-- Project Selection -->
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="mx-auto chimichurri">
              <div class="projectContent mx-auto projects">
                <div class="projectContent-header">
                  <h4>Projects</h4>
                </div>
                  <!-- Add project button -->
                <div class="d-flex flex-row justify-content-center align-items-center loco">
                <form action="{{ url_for('add_project') }}" method="POST">
                  <input
                    class="align-items-center"
                    type="text"
                    name="add_project"
                    placeholder="New project"
                    required="required"
                  />
                  <!-- <input type="hidden" name="project_selection" value="{{ selected_project }}" /> -->
                  <input type="submit" value="+" />
                </form>
                </div>

                <div class="mx-auto w-auto d-flex flex-row justify-content-right align-items-right loco" id="project-selector">
                  {% for project in projects %}

                  <ul>
                    <button class="btn btn-projects"
                      class="project_id"
                      data-project-id="{{ project['id'] }}">
                      {{ project['name'] }}
                    </button>
                  </ul>

                  {% endfor %}
                </div>

                {% if project_exists %}
                <div class="alert alert-primary mb-0 text-center flash-message" role="alert">
                  Project already exists!
                </div>
                {% endif %}
              </div>

                <div class="col-md-2 sidebar" id="project-sidebar">
                  <div class="project-sidebar">
                    <hr />
                    <h4>Project:</h4>
                    <hr />
                    <li class="project-name"></li>
                    <li class="project-id"></li>
                    <li class="project-complete"></li>
                    <li class="project-created-at"></li>
                    <li class="project-pomodoros"></li>
                    <li class="project-time"></li>
                  </div>
                </div>
            </div>
          </div>


          <!-- List avaible tasks -->
          <div class="col">
            <div class="mx-auto chimichurri">
                <h4>Tasks</h4>
                <!-- Add task button -->
                <div class="d-flex flex-row justify-content-center align-items-center loco">
                  <form action="{{ url_for('add_task') }}" method="POST">
                    <input
                      class="align-items-center"
                      type="text"
                      name="name_task"
                      placeholder="New task"
                      required="required"
                    />
                    <input
                      type="hidden"
                      name="current_project_id"
                      value="{{ session['current_project_id'] }}"
                    />
                    <input type="submit" value="+" />
                  </form>
                </div>
                <div
                  class="d-flex flex-row justify-content-right align-items-right loco"
                >
                  <ul style="width: 90%">
                    <div>
                      {% for task in tasks %}

                      <li>
                        <button
                          class="btn btn-tasks"
                          data-task-id="{{ task.id }}"
                          data-project-id="{{ task.project_id }}"
                        >
                          <img
                            class="play-button"
                            src="static/img/play-button-30.png"
                            alt="Play"
                            onclick="startCountdown()"
                          />
                          {{ task.name }}
                        </button>
                      </li>

                      {% endfor %}
                    </div>
                  </ul>
                </div>
                {% if get_flashed_messages() %}
                <div
                  class="alert alert-primary mb-0 text-center task-added"
                  role="alert"
                >
                  {{ get_flashed_messages() | join(" ") }}
                </div>
                {% endif %}
            </div>

            
          </div>
        </div>
    </div>

      <!-- SIDEBAR -->
    </div>
    <div class="col-md-2 sidebar" id="sidebar">
      {% if session['current_project_id'] %}

      <ul>
        <div class="project-sidebar">
          <hr />
          <h4>Project:</h4>
          <hr />
          <li class="project-name"></li>
          <li class="project-id"></li>
          <li class="project-complete"></li>
          <li class="project-created-at"></li>
          <li class="project-pomodoros"></li>
          <li class="project-time"></li>
        </div>
        <div class="task-sidebar" id="task-sidebar">
          <hr />
          <h4>Task:</h4>
          <hr />
          <li class="task-name"></li>
          <li class="task-id"></li>
          <li class="task-complete"></li>
          <li class="task-created-at"></li>
          <li class="task-pomodoros"></li>
          <li class="task-time"></li>
        </div>
      </ul>
      {% else %}
      <p>No project selected.</p>
      <li class="project-name"></li>
      <li class="project-id"></li>
      {% endif %}
    </div>
  
</div>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
